main {
    background-color:#ffffff;
    padding-bottom: 2px;
}

header {
    width: 100%;
    background-color: #ff5050;
    position:fixed;
    display: block;
    max-height: 2,5%;
}

.header{
    color:#333;
}

#login {
    position: relative;
    top: 30%;
}

.primaRiga{
    display: static;
    height: 750px;
    padding-top: 60px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.home-mainColumn {
    width:50%;
    height:100%;
    float:left;
}

#mappa {
    height:90%;
    width:100%;
    margin: 10px;
    padding: 30px;
}

/* Style the form */
#home-form{
    height:75%;
    width:70%;
  background-color: #66ff33;
  margin: 40px; 
    margin-top: 65px; 
  padding: 40px;
    padding-top: 25px;
    float:right;
    clear: both;
    overflow: hidden;
}

#form-Dati{
    width: auto;
    min-width: inherit;
}

.secondaRiga {
    max-height: 655px;
    display:block;
    overflow: scroll;
    color: #ff5050;
    background-color: #bbbbbb;
    padding: 60px;
}


#fotoDiv{
    background-image: url("https://images.unsplash.com/photo-1600599067176-1f47e3b6fe47?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1398&q=80");
    background-size: contain;
    background-repeat: no-repeat;
}

button, input[type='submit'] {
    border:none;
    color: #66ff33;
    width: 100px;
    background-color: #000000;
    border-radius:3px;
    padding: 10px;
    font-size: 17px;
}

button, input[type='submit']:hover {
  background-color: #ffffff;
  color: #333;
}

#prevBtn {
  background-color: #bbbbbb;
    color: #ffffff;
}
   
#prevBtn:hover{
    background-color:#ff5050;
}
    
#nextBtn {
    background-color: #000000;
    color: #66ff33;
}

#nextBtn:hover{
    background-color:#ffffff;
    color:#333
}
    
/* Style the input fields */
input {
    width: 100%;
    font-size: 17px;
    font-family:"Covik Sans Mono Web", -apple-system, BlinkMacSystemFont, sans-serif;
    border:2px solid #EDEDEA;
    padding:.5em .7em;
    margin-top: 5%;
}


/*input[type='radio'],
input[type='checkbox'] {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
}*/

input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
    display:none;
    margin: 10px;
    margin-top: 20px;
}

#provBtn {
    margin-left:70%;
    margin-top:20%;
    color: #000000;
    background-color: #66ff33;
}

#provBtn:hover {
    background-color: #ffffff;
  color: #ff5050;
    }


/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #000000;
  border: none; 
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}

.terzaRiga {
    height: 650px;
    display:block;
    color: #ff5050;
    background-color: #333;
    margin: 60px;
}
